---
layout: default
---
<!-- #masthead -->
<div id="content" class="site-content">
    <div id="primary" class="content-area column full single-portfolio">
        <main id="main" class="site-main">
        
        <article class="portfolio hentry">
        <header class="entry-header">
        <div class="entry-thumbnail">
            <img width="800" height="533" src={{ page.image }} class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1"/>
        </div>
        <h1 class="entry-title">{{ page.title }}</h1>
        </header>
        <div class="entry-content">
            {{ content }}
        </div>
        </article>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->
